.neo-round {
  -webkit-border-top-left-radius: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  /* Firefox 1-3.6 */
  -moz-border-radius-bottomleft: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-topright: 4px !important;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.margin {
  margin-bottom: 10px;
  float: left !important;
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}

/*----------Styles for validation helpers starts----------*/
.field-validation-error {
  color: #ff0000;
}

.field-validation-valid {
  display: none;
}

.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}

.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
  text-align: left;
}

.validation-summary-valid {
  display: none;
}

.validation-summary-valid.alert-danger {
  display: none;
}

/*----------Styles for validation helpers ends----------*/
table.table-bordered thead th,
table.table-bordered tbody td {
  /*padding: 0px 0px;*/
  padding-bottom: 1px !important;
  vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #fff;
}

tr:hover td {
  background: #f9f9f9 !important;
}

tr:hover td.no-hover {
  background: #fff !important;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 7px;
  border: 1px solid transparent;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 4px 9px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2fa4e7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

.box>.loading-img {
  z-index: 1020;
  background: transparent url('/img/ajax-loader1.gif') 50% 50% no-repeat;
}

.btn-floating,
.btn-floating:hover {
  background-color: #2fa4e7;
}

.neo-only-mobile {
  display: none;
}

.neo-only-desktop {
  display: block;
}

@media only screen and (max-width: 600px) {
  body {
    /*background-color: lightblue;*/
  }

  .neo-only-mobile {
    display: block;
  }

  .neo-only-desktop {
    display: none;
  }
}

.zui-table .zui-sticky-col {
  /*border-left: solid 1px #DDEFEF;
  border-right: solid 1px #DDEFEF;
  right: 0;
  position: absolute;
  top: auto;*/
  width: 132px;
}

.select2-container {
  width: 100% !important;
}